<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<body style = "background-color:rgba(241,246,253,100)">
<style> 
#main {border:4px solid rgba(152,242,198);border-radius:20px;
background-color:rgba(255,255,255,100);position: absolute;width:400px;
height:190px;left:50%;top:50%; margin-left:-200px;margin-top:-100px;} 
</style> 
        <div id="main">
           <form action="{% url 'register' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% load staticfiles %}
            <img  style = "position:absolute;left:37%;border:1px solid rgba(152,242,198);border-radius:20px;margin:5px" src="{% static "logo.png" %}" width=100px height=50px style = "center">
            </br>
            <div style = "position:absolute;top:70px;left:20%;">
            <label for="username" >账号：</label>
            <input style = "background-color:rgba(152,242,198);border:4px solid rgba(152,242,198);border-radius:20px" id="username" type="text" name="username" value="{{ username }}"><br />
            </div>
            <div style = "position:absolute;top:100px;left:20%;">
            <label for="password">密码：</label>
            <input style = "background-color:rgba(152,242,198);border:4px solid rgba(152,242,198);border-radius:20px" id="password" type="password" name="password" value="{{ password }}"><br />
            </div>
            <div style = "position:absolute;top:150px;left:38%;">
            <input type="submit" value="注册" style="width:100px;Height:30px;color:rgba(255,255,255,100);background-color:rgba(228,198,208,100);border-radius:20px;border:1px solid rgba(228,198,208,100)">
            </form>
        </div>

</body>
</html>